<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
</head>

<body>
    <h2>Comment Section</h2>
    <form action="/Comments", method="POST">
        <div>
            <label for="username">Enter Username:</label>
            <input type="text" name="username" id="username">
        </div>
        <br>
        <div>
            <label for="comment">Comment: </label>
            <br>
            <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
        </div>
        <button>Submit</button>
    </form>
    <a href="/comments">Back</a>
</body>

</html>