<!DOCTYPE html>
<html lang="en">
    
<%- include('partials/head', { title: title}) %>

    <body>
        <%- include('partials/navbar') %>
            <div class="container mt-4">
                <h2>Welcome to ExPress 2.0</h2>
            </div>
        <%- include('partials/footer') %>
    </body>
</html>