<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <h1>Home is <%= 'Here'.toUpperCase() %></h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti rem illo enim corporis distinctio, deserunt dignissimos quo eos magni earum maiores voluptates sapiente quis tenetur modi molestias pariatur, quaerat porro.
    Deserunt ab porro voluptatibus eveniet reprehenderit natus vel? Incidunt itaque ad maxime aliquid. Eum eligendi omnis sequi deserunt obcaecati quas architecto tenetur, doloremque perferendis tempora! Maiores totam culpa sequi error!
    Perspiciatis quis accusamus rem recusandae voluptates blanditiis dignissimos ipsa cupiditate. Sint vel architecto eius iure quo! Sequi corrupti autem beatae tempora veritatis ad provident officiis fugiat dicta. Maxime, ab ducimus.
    Animi commodi rerum temporibus magni, maiores ut architecto, quod rem error itaque, hic molestias beatae sunt nisi. Quos, veritatis architecto voluptatibus iusto reiciendis eaque laudantium, veniam, eos quod accusantium numquam!
    Illo corporis, consequatur at perferendis dignissimos dolore suscipit quasi unde molestiae hic dolores incidunt commodi neque ratione, excepturi expedita veniam beatae sunt eligendi vero consequuntur illum eaque soluta. Molestias, maiores.</p>
    <footer>Hola! </footer>
</body>
</html>